/* Center text only on pages marked with .centered */
.centered .page__content {
  text-align: center;
}

/* Center feature_row titles and excerpts */
.centered .feature__title,
.centered .archive__item-title,
.centered .archive__item-excerpt {
  text-align: center;
}
